.now-playing {
    position: relative;
    height: 100%;
}
  
.now-playing:after {
    content: '';
    position: absolute;
    left: 0; right: 0;
    top: 0; bottom: 0;
    background-image:
        linear-gradient(to right, #000, rgba(0,0,0,0) 100%);
}

.image-hover-zoom {
    overflow: hidden;
    margin: 0 auto;
}

.image-hover-zoom img {
    width: 100%;
    transition: 0.5s all ease-in-out;
}

.image-hover-zoom:hover img {
    transform: scale(1.1);
}