.now-playing {
    position: relative;
}
  
.now-playing:after {
    content: '';
    position: absolute;
    left: 0; right: 0;
    top: 0; bottom: 0;
    background-image:
        linear-gradient(to right, #000, rgba(0,0,0,0) 100%);
}
